@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  background-color: rgb(29, 20, 20);
  background-image: url("../images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

h1,h2,h3,p {
  color: white;
}

h1,h2,h3 {
  font-family: 'Monoton', cursive;
  font-weight: 800;
}

a:link,
a:visited {
  color: white;
}

a:hover {
  color: red;
  text-decoration: none;
}

/* the font size will be set to 35px when the viewport width is less than 400 pixels, and it will increase by 1 pixel for every 100 pixels of viewport width. */

h1 {
  font-size: clamp(35px, 4vw, 80px);
}

h2 {
  font-size: clamp(30px, 4vw, 50px);
}

h3 {
  font-size: clamp(25px, 4vw, 35px);
  text-align: center;
}

p {
  font-size: clamp(17px, 4vw, 23px);
  font-family: 'Space Mono', monospace;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.flex-container figure {
  margin: 0;
  padding: 0;
  margin-right: 15px;
}

.flex-container div {
  width: 33%;
}


.flex-container figure img {
  width: 100%;
  filter: brightness(50%);
  transform: scale(90%);
  transition: 0.5s ease-in-out;
}

.flex-container figure img:hover {
  transform: scale(113%);
  filter: 
    brightness(100%)
    drop-shadow(10px 10px 30px rgba(255, 255, 255, 0.2));
}


@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container figure img {
    transform: scale(100%);
  }

  .flex-container div {
    width: 100%;
    margin-bottom: 130px;
  }

  .flex-container figure img:hover {
    transform: scale(1);
  }
}

.flex-container figure summary {
  cursor: pointer;
}

.types-civilizations, .video {
  margin-top: 10%;
}

footer {
  display: flex;
  justify-content: center;
}

/* 

*/ 
